<template name="activityPage">
  <div class='left-column'>
    <div class='linksBox'>
      <h3> Links </h3>
      {{#each Links}}
        {{> link}}
      {{/each}}
       <div>
        <input id='LinkTitle' type='text' value='Title' class='defaultTextActive'>  
      <div id='addLinkContainer'>
        <button id="addLink" name="addLink"><i class="fa fa-caret-up"></i> Post <i class="fa fa-caret-up"></i></button>
       </div>
        <input id='LinkURL' type='text' value="URL" class='defaultTextActive'> 
      </div>
    </div>



    <div id='todos'>
      <h3> To Do List </h3>
        <ul id="TodoList">
          {{#each Todos}}
            {{> todo}}
          {{/each}}
        </ul>
       <div>
        <input id='newTodoItem' type='text' value="New To Do Item" class='defaultTextActive'>  
      <div id='addTodoContainer'>
        <button id="addTodoItem" name="addTodoItem"><i class="fa fa-caret-up"></i> Post <i class="fa fa-caret-up"></i></button>
       </div>
      </div>
    </div>
  </div>

  <div class='right-column'>
     <div id='activityDescription'>
      <h3> Description </h3>
      {{>description}}
    </div>
    {{#if hasStandards}}
      <div id='activityStandards'>
        <h3> Standards </h3>
        {{#each Standards}}
          {{>actPageStandardItem}}
        {{/each}}
      </div>
    {{/if}}
    <div id='addNoteContainer'>
      <button id="addNote" name="addNote"><i class="fa fa-caret-down"></i> Post <i class="fa fa-caret-down"></i></button>
    </div>
    <div id='newNote' class='defaultTextActive'>
      Write a note to {{groupies "" "" group "" ""}}.  Just click here and start typing.   
    </div>
    <div id='notes'>
      <h3> Notes </h3>
      {{#each Notes}}
        {{> note}}
      {{/each}}
    </div>
  </div>

</template>

<template name='description'>
  <div>
    {{#if isInRole 'teacher'}}
    <div class='updateDescriptionContainer hidden'>
      <button id="updateDescription" name="updateDescription" data-activityID = {{_id}}>Save</button>
    </div>
    {{/if}}
    <div id='descriptionText' class={{defaultTextActive}} data-activityID = {{_id}}> {{{description}}}</div> 
    <span>{{#if isInRole 'teacher'}}<i class='editDescription fa fa-pencil-square-o' data-activityID = {{_id}} onmouseover="$(this).switchClass('fa-pencil-square-o','fa-pencil-square',0)" onmouseout="$(this).switchClass('fa-pencil-square','fa-pencil-square-o',0)"></i>{{/if}}</span>
  </div>
</template>

<template name='actPageStandardItem'>
    <p></p>
    <p>
      <strong>{{title}}: </strong>{{description}}
    </p>
</template>

<template name='note'>
    <p></p>
    <p> 
    {{#if allowEdit}}
    <div class='updateNoteContainer hidden'>
      <button class="updateNote" name="updateNote" data-noteID = {{_id}}>Update</button>
    </div>
    {{/if}}
    <div class='noteText' data-noteID = {{_id}}> {{{text}}}</div>
    <span style='font-size: 10pt;margin-left: 10px'>from: {{nameFormat author 'nick'}} to: {{groupies "" "" group "" ""}} on {{dateFormat submitted 'short'}} {{#if allowDelete}}<i class='removeNote fa fa-times' data-noteID = {{_id}} onmouseover="$(this).switchClass('fa-times','fa-times-circle',0)" onmouseout="$(this).switchClass('fa-times-circle','fa-times',0)"></i>{{/if}} {{#if allowEdit}}<i class='editNote fa fa-pencil-square-o' data-noteID = {{_id}} onmouseover="$(this).switchClass('fa-pencil-square-o','fa-pencil-square',0)" onmouseout="$(this).switchClass('fa-pencil-square','fa-pencil-square-o',0)"></i>{{/if}}</span> 
    </p>
      
</template>

<template name='link'>
  {{{text}}} 
  <i class='removeLink fa fa-times' data-linkID = {{_id}} onmouseover="$(this).switchClass('fa-times','fa-times-circle',0)" onmouseout="$(this).switchClass('fa-times-circle','fa-times',0)"></i><br>
</template>

<template name='todo'>
  <p class = {{isDone}}><input type='checkbox' value={{_id}} title="Mark as done" {{isChecked}}><span title={{groupies "belongs to just " "belongs to " group "" ""}}>{{{text}}}</span>
  <i class='removeTodo fa fa-times' data-todoID = {{_id}} onmouseover="$(this).switchClass('fa-times','fa-times-circle',0)" onmouseout="$(this).switchClass('fa-times-circle','fa-times',0)" title = 'Delete Todo Item'></i></p>
</template>

