<template name="activityPage">
  <div class='left-column'>
    <div class='linksBox'>
      <h3> Links </h3>
      {{#each Links}}
        {{> link}}
      {{/each}}
       <div>
        <input id='LinkTitle' type='text' value='Title' class='defaultTextActive'>  
      <div id='addLinkContainer'>
        <button id="addLink" name="addLink"><i class="fa fa-caret-up"></i> Add <i class="fa fa-caret-up"></i></button>
       </div>
        <input id='LinkURL' type='text' value="URL" class='defaultTextActive'> 
      </div>
    </div>



    <div id='todos'>
      <h3> To Do List </h3>
        <ul id="TodoList">
        <p><input type='checkbox' value='1'/> Task 1 </p>
        <p><input type='checkbox' value='2'/> Task 2</p>
      </ul>
      <p><input id='newTodoItem' type = text value = "New Todo Item">  <button id="addTodoItem" name="newTodoItem">Add</button></p>
    </div>
  </div>

  <div class='right-column'>
     <div id='activityDescription'>
      <h3> Description </h3>
      <div>
        <p> This is what this activity is about.</p>
      </div>
    </div>
    <div id='notes'>
      <h3> Notes </h3>
      {{#each Notes}}
        {{> note}}
      {{/each}}
    </div>
    <div id='newNote' class='defaultTextActive'>
      Write a note to {{groupies "" "" group "" ""}}.  Just click here and start typing.   
    </div>
    <div id='addNoteContainer'>
      <button id="addNote" name="addNote"><i class="fa fa-upload"></i> Post <i class="fa fa-upload"></i></button>
    </div>
  </div>
</template>

<template name='note'>
    <p></p>
    <p> {{{text}}}
    <span style='font-size: 10pt;margin-left: 10px'>from: {{nameFormat author 'nick'}} to: {{groupies "" "" group "" ""}} on {{dateFormat submitted 'short'}}</span> 
    </p>
</template>

<template name='link'>
  {{{text}}} 
  <i class='removeLink fa fa-times' data-linkID = {{_id}} onmouseover="$(this).removeClass('fa-times').addClass('fa-times-circle')" onmouseout="$(this).removeClass('fa-times-circle').addClass('fa-times')"></i><br>
</template>

