<template name="header">
  <header class="navbar">
    <div class="navbar-inner">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collap
se">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{pathFor 'studentView'}}">Open Lab</a>
      <div class="nav-collapse collapse">
        <span class="nav headerInfo">{{activity.title}} </span>
        {{#if group}}   
          <span class="nav headerInfo">{{groupies "(just " "(" group ")" ")"}} </span>
        {{/if}}
        <ul class="nav pull-right">
          <li>{{> loginButtons}}</li>
        </ul>
      </div>
    </div>
  </header>
</template>
