<template name='OpenInviteNotifications'>
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    {{#if openInvitesCount}}
      <span class="badge badge-inverse">{{openInvitesCount}}</span>
      Open Invitations
      <b class="caret"></b>
    {{else}}
      No Open Invitations
    {{/if}}
  </a>
  <ul class="notification dropdown-menu">
    {{#if openInvitesCount}}
      {{#each openInvites}}
        {{> openInviteNotification}}
      {{/each}}
    {{else}}
      <li><span></span></li>
    {{/if}}
  </ul>
</template>

<template name="openInviteNotification">
  <li>
      <span class="badge badge-inverse">{{frequency}}</span>
      {{title}} on {{date}} 
  </li>
</template>
