<template name="studentHeader">
  <header class="navbar">
    <div class="navbar-inner">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collap
se">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{pathFor 'studentView'}}">Open Lab</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          {{#if isInRole 'teacher'}}
            <select id = 'viewAs' name = 'viewAs' size = "1">
              {{#with currentUser}}
                {{> userToView}}
              {{/with}}
              {{#each users}}
                {{> userToView}}
              {{/each}}
            </select>
          {{/if}}
        </ul>
        <ul class="nav pull-right">
          <li>{{> loginButtons}}</li>
        </ul>
      </div>
    </div>
  </header>
</template>

<template name = 'userToView'>
  <option value={{_id}}>{{username}}</option>
</template>
