<template name = 'TeacherViewAs'>
  {{#if isInRole 'teacher'}}
    <ul class = "nav">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">View As: {{SelectedText}} <strong class="caret"></strong></a>

      <div id='viewAs' class="dropdown-menu">
        <div class = 'container-fluid'>
        <div class = 'nav row'>
          {{#with username=currentUser.username _id=currentUser._id selected=currentUserSelected}}
            {{> userToView}}
          {{/with}}
          {{#each sections}}
            {{> sectionToView}}
          {{/each}} 
        </div>
        </div>
        <div class='nav row'>
          {{#each usersInSection}}
            {{> userToView}}
          {{/each}}
        </div>
      </div>
      </li>
    </ul>
  {{/if}}
</template>

<template name = 'userToView'>
  <li><a href="#" data-value={{_id}} class='{{selected}}'>{{username}}</a></li>
</template>

<template name = 'sectionToView'>
  <li><a href="#" data-value={{_id}} class='{{selected}}'>{{section}}</a></li>
</template>
