<body>
  <div class = "container">
    <header class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">Open Lab</a>
      </div>
    </header>
  </div>

  <div id='ListOfLists'>
    <ul>
      <li><a href="#activities">ACTIVITIES</a></li>
      <li><a href="#standards">STANDARDS</a></li>
      <li><a href="#appointments">APPOINTMENTS</a></li>
    </ul> 
    {{> activitiesList}}
    {{> standardsList}}
    {{> appointmentsList}}
  </div>

  <div class='assessment'>
    <h3> Reassessment </h3>
     <div class = 'assessmentsStandards'>
     </div>
  </div>

  <p id='startEndDates'>Show from: <input type="text" name="startDate" id="startDate" /> to: <input type="text" name="endDate" id="endDate" /> </p>

  {{> calendar}}

</body>


