<body>
  <div class = "container">
    <header class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">Open Lab</a>
      </div>
    </header>
  </div>

  <div id='ListOfLists'>
    <ul>
      <li><a href="#activities">ACTIVITIES</a></li>
      <li><a href="#standards">STANDARDS</a></li>
      <li><a href="#appointments">APPOINTMENTS</a></li>
    </ul> 
    {{> activitiesList}}
    {{> standardsList}}
    {{> appointmentsList}}
  </div>

  <div class='assessment'>
    <h3> Reassessment </h3>
     <div class = 'assessmentsStandards'>
     </div>
  </div>

  <table id='calendar'>
  <tr>
  <td class='calendar-day'>
    <h3> Monday, May 19 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>

  <td class='calendar-day'>
    <h3> Tuesday, May 20 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>

  <td class='calendar-day'>
    <h3> Wednesday, May 21 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>

  <td class='calendar-day'>
    <h3> Thursday, May 22 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>

  <td class='calendar-day'>
    <h3> Friday, May 23 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>
  </tr>

  <tr>
  <td class='calendar-day'>
    <h3> Monday, May 26 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>

  <td class='calendar-day'>
    <h3> Tuesday, May 27 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>

  <td class='calendar-day'>
    <h3> Wednesday, May 28 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>

  <td class='calendar-day'>
    <h3> Thursday, May 29 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>

  <td class='calendar-day'>
    <h3> Friday, May 30 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>
  </tr>
  </table>




</body>


