body, #ListOfLists, .Model {
  background: #efefef;
}
.Model {
  max-height: auto; /*185px to scroll*/
  overflow-y:auto;
}
.navbar { /* overriding defaults from bootstrap */
  margin-bottom: 10px;
}
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; 
}
#counters {
  margin-bottom: 0;
}
table#calendar {
  width: 98%;
  margin-left: 1%;
}
table#calendar tr td {
  border: thin black solid;
  width:  20%;
  vertical-align: top;
  text-align: center;
}
table#calendar tr td h3 a {
  color: black;
}
table#attendanceTable {
  page-break-after:always;
}
table#attendanceTable tr td {
  border: thin black solid;
  width:  20%;
  height: 30px;
}
table#attendanceTable tr td.inClass {
  border: none;
}
table#attendanceTable tr td.outClass {
  border-top: none;
  border-right: none;
  border-bottom: thin black solid;
}
table#attendanceTable tr td .attendanceName.present, table#attendanceGroupsInClassTable tr td .attendanceName.present {
  background-color: green;
  color: white;
}
.assessment {
  position: relative;
  margin-left: 1%;
  width: 90%;
  border: thin black solid;
}
.assessment.fadeout, #startEndDates.fadeout, #calendar.fadeout, .Model.fadeout {
  filter: alpha(opacity=30);
  opacity: 0.30;
}
.assessment h4 {
  margin-top: 20px;
}
.assessment h4 a, .assessment .assessmentsStandards p a {
  color: black;
}
#showAssessmentList {
  position: absolute;
  right: 0;
  margin-right: 2px;
  top: 0;
  margin-top: 2px;
}
#addAssessment {
  color: gray;
}
#ListOfLists {
  float: left;
  width:  40%;
  margin-left: 1%;
}
#activities, #standards, #appointments {
  width: 90%; 
}
.LoMhigh { background: green;}
.LoMmedium { background: yellow; color: black;}
.LoMlow { background: red; }
#activities h3 .openInvite {
  font-weight: normal;
  float: right;
}
#activities a, #standards a {
  padding-right: 1px;
}
#activities .Model .openInvites {
  margin-top: -10px;
  margin-bottom: 20px;
}
#activities .Model .openInvites .openInvite {
  text-align: right;
  font-style: italic;
}
#activities i.fa-caret-right, #standards i.fa-caret-right {
  float: left; 
  margin-left: 10px; 
  margin-top: 8px;
}
#standardsListTitle span, #standards h3 a span, #activitiesListTitle span, #activities h3 a span {
  font-weight: normal;
}

/* being very, very specific here so that these classes will override the default ui classes */
.daysActivities .inClass, #inClassSwatch.ui-state-default.inClass, .ui-state-default.inClass.ui-draggable.ui-draggable-dragging {
  background-color: #00ffff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00dddd), color-stop(25%, #00dddd), to(#00ffff));
  background-image: -webkit-linear-gradient(#00dddd, #00dddd 25%, #00ffff);
  background-image: -moz-linear-gradient(top, #00dddd, #00dddd 25%, #00ffff);
  background-image: -ms-linear-gradient(#00dddd, #00dddd 25%, #00ffff);
  background-image: -o-linear-gradient(#00dddd, #00dddd 25%, #00ffff);
  background-image: linear-gradient(#00dddd, #00dddd 25%, #00ffff);
}
.daysActivities .outClass, #outClassSwatch.ui-state-default.outClass, .ui-state-default.outClass.ui-draggable.ui-draggable-dragging {
  background-color: #ffff00 !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddd00), color-stop(25%, #dddd00), to(#ffff00)) !important;
  background-image: -webkit-linear-gradient(#dddd00, #dddd00 25%, #ffff00) !important;
  background-image: -moz-linear-gradient(top, #dddd00, #dddd00 25%, #ffff00) !important;
  background-image: -ms-linear-gradient(#dddd00, #dddd00 25%, #ffff00) !important;
  background-image: -o-linear-gradient(#dddd00, #dddd00 25%, #ffff00) !important;
  background-image: linear-gradient(#dddd00, #dddd00 25%, #ffff00) !important;
}
.daysActivities .home, #homeSwatch.ui-state-default.home, .ui-state-default.home.ui-draggable.ui-draggable-dragging {
  background-color: #ffbffff !important;
  background-image: -moz-linear-gradient(top, #cc8ccc, #cc8ccc 25%, #ffbfff) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cc9ccc), color-stop(25%, #cc9ccc), to(#ffbfff)) !important;
  background-image: -webkit-linear-gradient(#cc8ccc, #cc8ccc 25%, #ffbfff) !important;
  background-image: -moz-linear-gradient(top, #cc8ccc, #cc8ccc 25%, #ffbfff) !important;
  background-image: -ms-linear-gradient(#cc8ccc, #cc8ccc 25%, #ffbfff) !important;
  background-image: -o-linear-gradient(#cc8ccc, #cc8ccc 25%, #ffbfff) !important;
  background-image: linear-gradient(#cc8ccc, #cc8ccc 25%, #ffbfff) !important;
}
#inClassSwatch.ui-state-default.inClass, .ui-state-default.inClass.ui-draggable.ui-draggable-dragging, .daysActivities  .inClass a, .daysActivities .outClass a, #outClassSwatch.ui-state-default.outClass, .ui-state-default.outClass.ui-draggable.ui-draggable-dragging, .daysActivities .home a, #homeSwatch.ui-state-default.home, .ui-state-default.home.ui-draggable.ui-draggable-dragging {
  color: #000000;
}
#inClassSwatch, #outClassSwatch, #homeSwatch {
  margin-left: 16px;
}
#inClassSwatch:hover, #outClassSwatch:hover, #homeSwatch:hover {
  cursor: pointer;
  cursor: hand;
}
#inClassSwatch.hideFromTeacher, #outClassSwatch.hideFromTeacher, #homeSwatch.hideFromTeacher {
   text-decoration: line-through;
}
.placeholder {
  color: #e6e6e6; /* color from ui-state-default provided by /packages/jquery-ui-bootstrap/css/jquery-ui-1.9.2.custom.css*/
}
.daysActivities, .assessmentsStandards, #TodoList {
  min-height: 10px; /* necessary for empty list to accept draggable */
  /*width: 382px;*/
  width: 90%;
  margin-left: 5%;
}
#TodoList .done {
  text-decoration: line-through;
}
#startEndDates {
  display:block;
  clear:both;
  margin-left: 1%;
}
.daysActivities i {
  cursor: default;
}
.modal-backdrop.fade.in { /* overriding css from bootstrap (I think) that turned backdrop solid black */
opacity: 0.5;
filter: alpha(opacity=50);
}
#inviteGroupDialog .btn-user.selected, #inviteGroupDialog .btn-section.selected {
  background-image: none;
  background-color: #00ffff;
}
#inviteGroupDialog table, #inviteGroupDialog .btn-group {
  margin-left: 20px;
  margin-bottom: 20px;
}
#inviteGroupDialog div.selected {
  background-color: #c9c9c9;
}
#openInviteDialog p, #inviteGroupDialog p, editProfileDialog p {
  margin-left: 8px;
  margin-right: 8px;
}
#openInviteDialog button.accept {
  position: absolute;
  right: 0;
  margin-right: 4px;
}
#openInviteDialog i.remove, #inviteGroupDialog i.remove, #editProfileDialog i.remove {
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 0;
  margin-top: 10px;
}
i.remove:hover, i.fa-check-square-o, i.fa-square-o {
    cursor: default;
}
#openInviteDialog h2, h3, #inviteGroupDialog h2, h3, #editProfileDialog h2, h3 {
  text-align: center;
}
.headerInfo {
  font-size: 14pt;
  display:inline-block;
  padding-top:12px;
  padding-left:8px;
  margin-left: auto;
  margin-right: auto;
}
.headerInfo.small, .headerInfo .small {
  font-size: 12pt;
}
#viewAs {
  padding: 20px;
  padding-bottom: 20px;
  width: 500px;
}
#viewAs li a.selected  {
  background-image: none;
  background: #f5f5f5;
}
#btnTEstate a[selected] {
  background-image: none;
  background: #c9c9c9;
}
.notification li {
    min-width: 100%;
    white-space: nowrap;
}
.left-column, .right-column {
  display: inline-block;
  vertical-align: top;
  margin-left: 1%;
  margin-right: 1%;
}
.left-column {
  width: 30%;
  margin-bottom: 10px;
}
.right-column {
  width: 63%;
  margin-bottom: 10px;
}
#activityDescription, #activityStandards, #todos, #notes, #pgas, .linksBox {
  display: block;
  border: thin black solid;
  margin-bottom: 10px;
}
#newNote, #newPGA {
  display: inline-block;
  border: thin black solid;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 89%;
  min-height: 24pt;
}
.newLOMcomment {
  display: inline-block;
  border: thin black solid;
  margin-bottom: 2px;
  margin-top: 2px;
  width: 84%;
  min-height: 12pt;
  vertical-align: top;
}
.newLOM {
  display: inline-block;
  border: thin black solid;
  margin-bottom: 2px;
  margin-top: 2px;
  width: 4%;
  min-height: 15pt;
  vertical-align: top;
  text-align: center;
}
.addLOMContainer {
  display: inline-block;
  margin-bottom: 2px;
  margin-top: -2px;
  width: 10%;
  vertical-align: top;
}
.noteText.editing, .pgaText.editing {
  display: inline-block;
  width: 89%;
}
#descriptionText {
  display: inline-block;
  width: 90%;
}
#descriptionText.editing {
  display: inline-block;
  width: 80%;
}
#activityStandards p strong a {
  color: black;
}
#activityStandards p span.highlight {
  background-color: rgba(203,137,219,0.5);
}
#addNoteContainer, #addPGAContainer {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 10%;
  vertical-align: top;
}
.updateNoteContainer, .updatePGAContainer, .updateDescriptionContainer {
  display: inline-block;
  width: 10%;
  vertical-align: top;
}
#LinkTitle, #newTodoItem {
  display: inline-block;
  border: thin black solid;
  width: 65%;
  min-height: 12pt;
  margin-top: 5px;
  color: #000000;
}
#LinkURL {
  display: inline-block;
  border: thin black solid;
  width: 95%;
  min-height: 12pt;
  color: #000000;
}
#addLinkContainer, #addTodoContainer {
  display: inline-block;
  margin-top: 5px;
  vertical-align: top;
}
.removeLink:hover, .removeTodo:hover, .removeNote:hover, .editNote:hover, .removePga:hover, .editPga:hover, .editDescription:hover, .editScale:hover, .removeLoM:hover {
  cursor: default;
}
/*.noteText {
  margin-bottom: 0;
}
.noteText.editing {
  background: #f5f5f5;
}*/
.defaultTextActive { color: #a1a1a1; font-style: italic; }
.defaultTextInactive {color: #000000; }
.button-center {
 text-align: center;
}
.collapsed { 
  line-height: 27px !important;
}
i.icon-list-visible {
  background: url('list_visible.svg');
  background-size: contain;
}
i.icon-list-hidden {
  background: url('list_hidden.svg');
  background-size: contain;
}