.navbar { /* overriding defaults from bootstrap */
  margin-bottom: 10px;
}
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; 
}
table#calendar {
  width: 98%;
  margin-left: 1%;
}
table#calendar tr td {
  border: thin black solid;
  width:  20%;
  vertical-align: top;
  text-align: center;
}
.assessment {
  float: left;
  margin-left: 10%;
  width: 20%;
  padding: 1em 3em 1em 3em;
  border: thin black solid;
  vertical-align: top;
  margin-bottom: 10px;
}
#ListOfLists {
  float: left;
  width:  40%;
  margin-left: 1%;
}
#activities, #standards, #appointments {
  width: 90%; 
}
/* being very, very specific here so that these classes will override the default ui classes */
.daysActivities .inClass, #inClassSwatch.ui-state-default.inClass.ui-draggable, .ui-state-default.inClass.ui-draggable.ui-draggable-dragging {
  background-color: #00ffff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00dddd), color-stop(25%, #00dddd), to(#00ffff));
  background-image: -webkit-linear-gradient(#00dddd, #00dddd 25%, #00ffff);
  background-image: -moz-linear-gradient(top, #00dddd, #00dddd 25%, #00ffff);
  background-image: -ms-linear-gradient(#00dddd, #00dddd 25%, #00ffff);
  background-image: -o-linear-gradient(#00dddd, #00dddd 25%, #00ffff);
  background-image: linear-gradient(#00dddd, #00dddd 25%, #00ffff);
}
.daysActivities .outClass, #outClassSwatch.ui-state-default.outClass.ui-draggable, .ui-state-default.outClass.ui-draggable.ui-draggable-dragging {
  background-color: #ffff00 !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddd00), color-stop(25%, #dddd00), to(#ffff00)) !important;
  background-image: -webkit-linear-gradient(#dddd00, #dddd00 25%, #ffff00) !important;
  background-image: -moz-linear-gradient(top, #dddd00, #dddd00 25%, #ffff00) !important;
  background-image: -ms-linear-gradient(#dddd00, #dddd00 25%, #ffff00) !important;
  background-image: -o-linear-gradient(#dddd00, #dddd00 25%, #ffff00) !important;
  background-image: linear-gradient(#dddd00, #dddd00 25%, #ffff00) !important;
}
.daysActivities .home, #homeSwatch.ui-state-default.home.ui-draggable, .ui-state-default.home.ui-draggable.ui-draggable-dragging {
  background-color: #ffbffff !important;
  background-image: -moz-linear-gradient(top, #cc8ccc, #cc8ccc 25%, #ffbfff) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cc9ccc), color-stop(25%, #cc9ccc), to(#ffbfff)) !important;
  background-image: -webkit-linear-gradient(#cc8ccc, #cc8ccc 25%, #ffbfff) !important;
  background-image: -moz-linear-gradient(top, #cc8ccc, #cc8ccc 25%, #ffbfff) !important;
  background-image: -ms-linear-gradient(#cc8ccc, #cc8ccc 25%, #ffbfff) !important;
  background-image: -o-linear-gradient(#cc8ccc, #cc8ccc 25%, #ffbfff) !important;
  background-image: linear-gradient(#cc8ccc, #cc8ccc 25%, #ffbfff) !important;
}
#inClassSwatch.ui-state-default.inClass.ui-draggable, .ui-state-default.inClass.ui-draggable.ui-draggable-dragging, .daysActivities  .inClass a, .daysActivities .outClass a, #outClassSwatch.ui-state-default.outClass.ui-draggable, .ui-state-default.outClass.ui-draggable.ui-draggable-dragging, .daysActivities .home a, #homeSwatch.ui-state-default.home.ui-draggable, .ui-state-default.home.ui-draggable.ui-draggable-dragging {
  color: #000000;
}
#inClassSwatch, #outClassSwatch, #homeSwatch {
  margin-left: 16px;
}
.placeholder {
  color: #e6e6e6; /* color from ui-state-default provided by /packages/jquery-ui-bootstrap/css/jquery-ui-1.9.2.custom.css*/
}
.daysActivities, .assessmentsStandards, #TodoList {
  min-height: 10px; /* necessary for empty list to accept draggable */
  /*width: 382px;*/
  width: 90%;
  margin-left: 5%;
}
#TodoList .done {
  text-decoration: line-through;
}
#startEndDates {
  display:block;
  clear:both;
  margin-left: 1%;
}
.daysActivities i {
  cursor: default;
}
.modal-backdrop.fade.in { /* overriding css from bootstrap (I think) that turned backdrop solid black */
opacity: 0.5;
filter: alpha(opacity=50);
}
#openInviteDialog p, #inviteGroupDialog select, p {
  margin-left: 8px;
}
#openInviteDialog button {
  position: absolute;
  right: 0;
  margin-right: 4px;
}
#openInviteDialog h2, h3, #inviteGroupDialog h2, h3 {
  text-align: center;
}
.headerInfo {
  font-size: 14pt;
  display:inline-block;
  padding-top:12px;
  padding-left:8px;
  margin-left: auto;
  margin-right: auto;
}
.notification li {
    min-width: 100%;
    white-space: nowrap;
}
.left-column, .right-column {
  display: inline-block;
  vertical-align: top;
  margin-left: 1%;
  margin-right: 1%;
}
.left-column {
  width: 20%;
  margin-bottom: 10px;
}
.right-column {
  width: 68%;
  margin-bottom: 10px;
}
#activityDescription, #todos, #notes, .linksBox {
  display: block;
  border: thin black solid;
  margin-bottom: 10px;
}
#newNote {
  display: inline-block;
  border: thin black solid;
  margin-top: 30px;
  width: 85%;
  min-height: 24pt;
}
#addNoteContainer {
  display: inline-block;
  margin-top: 30px;
  width: 14%;
  vertical-align: top;
}
.defaultTextActive { color: #a1a1a1; font-style: italic; }
.button-center {
 text-align: center;
}
