<template name='standardPage'>
     <div id='standardDescription'>
      {{>standardDescription}}
    </div>
    {{#each LoMs}}
      <p></p>
      <p>
        <span class="badge badge-inverse {{LoMcolorcode ..}}">{{level}}</span> 
        <span>{{{CleanComment}}}</span>
        <div style='font-size: 10pt;margin-left: 50px'>
          {{#with activity}}
            <a href="{{pathFor 'activityPage'}}">{{title}}</a>
          {{/with}}
          graded by {{nameFormat teacherID 'full'}} on  {{dateFormat submitted 'datetime'}}
        </div>
      </p>
    {{/each}}
</template>

<template name='standardDescription'>
  <div>
    {{#if isInRole 'teacher'}}
    <div class='updateDescriptionContainer hidden'>
      <button id="updateDescription" name="updateDescription" data-standardID = {{_id}}>Save</button>
    </div>
    {{/if}}
    <div id='descriptionText' class={{defaultTextActive}} data-standardID = {{_id}}> {{{description}}}</div> 
    <span>{{#if isInRole 'teacher'}}<i class='editDescription fa fa-pencil-square-o' data-standardID = {{_id}} onmouseover="$(this).switchClass('fa-pencil-square-o','fa-pencil-square',0)" onmouseout="$(this).switchClass('fa-pencil-square','fa-pencil-square-o',0)"></i>{{/if}}</span>
  </div>
</template>