<template name = 'activitiesList'> 
    <div id="activitiesListTitle">
      <h4 >activities</h4>
      <span class="progress-expected"> {{rabbits}} progress </span>
      <span class="progress-your"> your progress </span>
   </div>
   <ul id='units' class="nav nav-pills">
      {{#each models}}
        {{> unitTitle}}
      {{/each}}
    </ul>
   <div id='activities'>
      {{#with activeUnit}}
        {{>activitiesSublist}}
      {{/with}}
    </div>
</template>

<template name="unitTitle">
  <li class="{{active}}">
    <div class="progress progress-warning">
      <div class="bar" style="width: {{percentExpected}}%;"></div>
    </div>
    <div class="progress progress-info">
      <div class="bar" style="width: {{percentCompleted}}%;"></div>
    </div>
    <a href="#" title="{{longname}}">
      {{model}}
    </a>
  </li>
</template>

<template name='activitiesSublist'> 
      <div class = 'Model row'>
        <div class='span6'>
  	      {{#each activities 1}}
            {{> activityItem}}
          {{/each}}
        </div>
        <div class='span6'>
          {{#each activities 2}}
            {{> activityItem}}
          {{/each}}
          {{> newAssessment}}
        </div>
      </div>
</template>


<template name = 'activityItem'>
    <div>
    <p data-activityid={{_id}} class="ui-state-default {{assessmentAct}}">
      <i class="activityStatus {{status}}"></i>
      <a href="{{pathFor 'activityPage'}}">{{{reassessment}}}{{title}}</a> 
      {{#if deleteable}}
        <i class='remove fa fa-times' onmouseover="$(this).switchClass('fa-times','fa-times-circle',0)" onmouseout="$(this).switchClass('fa-times-circle','fa-times',0)"></i>
      {{/if}} </p>
      <div class='openInvites'>
      {{#if openInvites}}
        {{#each openInvites}}
          <div class='openInvite'>
          <i class='remove fa fa-times' onmouseover="$(this).switchClass('fa-times','fa-times-circle',0)" onmouseout="$(this).switchClass('fa-times-circle','fa-times',0)" title="decline invitation"></i>
          invitation from {{groupies "" "" group "" ""}} on {{date}}
          </div>
        {{/each}}
      {{/if}}
      </div>
    </div>
</template>

<template name = 'newAssessment'>
    <div>
<!--    <p class="ui-state-default">
      <a href="#" id='addAssessment'>{{defaultText}}</a> </p> -->
      <button class="ui-state-default" id="addAssessment">
        {{clickToAdd}}
      </button>
    </div> 
</template>
