<template name = 'activitiesList'> 
   <div id='activities'>
    {{#each models}}
      {{> activitiesSublist }}
    {{/each}}
    </div>
</template>


<template name='activitiesSublist'>
      <h3> <a href="#" title="{{longname}}"> {{model}} 
        {{#if openInviteCount}}
          <span class='openInvite'>
            <span class="badge badge-inverse">{{openInviteCount}}</span> 
          Open Invitation{{#if isGT openInviteCount 1}}s{{/if}}</span>
        {{/if}} </a> </h3> 
      <div class = 'Model'>
	      {{#each activities}}
          {{> activityItem}}
        {{/each}}
        {{#each reassessments}}
          {{> activityItem}}
        {{/each}}
        {{> newAssessment}}
      </div>
</template>


<template name = 'activityItem'>
    <div>
    <p data-activityid={{_id}} class="ui-state-default {{assessmentAct}}">
      <i class="{{completed}}"></i>
      <a href="{{pathFor 'activityPage'}}">{{{reassessment}}}{{title}}</a> 
      {{#if deleteable}}
        <i class='remove fa fa-times' onmouseover="$(this).switchClass('fa-times','fa-times-circle',0)" onmouseout="$(this).switchClass('fa-times-circle','fa-times',0)"></i>
      {{/if}} </p>
      <div class='openInvites'>
      {{#if openInvites}}
        {{#each openInvites}}
          <div class='openInvite'>invitation from {{groupies "" "" group "" ""}} on {{date}}</div>
        {{/each}}
      {{/if}}
      </div>
    </div>
</template>

<template name = 'newAssessment'>
    <div>
    <p class="ui-state-default">
      <a href="#" id='addAssessment'>{{defaultText}}</a> </p>
    </div>
</template>
