 <template name='assessment'>
  <div class='assessment'>
    {{#if isCurrentAssessment}}
      <button id="showAssessmentList">Clear</button>
      {{#with currentAssessment}}
	      <h4> <a href="{{pathFor 'activityPage'}}">{{title}}</a></h4>
	      <div class = 'assessmentsStandards'>
		      {{#each standards}}
		        {{>assessmentStandardItem}}
		      {{/each}}
	       </div>
       {{/with}}
    {{else}}
      <h3>Assessments</h3>
    {{/if}}
  </div>
 </template>

<template name='assessmentStandardItem'>
     <p class='aSItem'>
       {{#if LoM ..}} <span class = 'badge badge-inverse {{LoMcolorcode ..}}'>{{LoM ..}}</span> {{/if}}
       <a href="{{pathFor 'standardPage'}}">{{title}}</a>
     </p>
</template>