<template name = 'calendar'>
  <p id='startEndDates'>
    <i class="{{virtualWorkStatus}}"></i>
    {{#if isInRole 'teacher'}}
      <a href="{{pathFor 'virtualWork'}}" class="btn">Virtual Work</a>
    {{/if}}
    Show from: <input type="text" name="startDate" id="startDate" /> 
    to: <input type="text" name="endDate" id="endDate" /> 
    <span id='inClassSwatch' class='ui-state-default inClass {{hideinClass}}'>In Class</span>
    <span id='outClassSwatch' class='ui-state-default outClass {{hideoutClass}}'>Out of Class</span>
    <span id='homeSwatch' class='ui-state-default home {{hidehome}}'>At Home</span>
  </p>
  <table id='calendar'>
    {{#each calendarWeeks}}
      {{> calendarWeek}}
    {{/each}}
  </table>  
</template>

<template name = 'calendarWeek'>
  <tr>
    {{#each weekDays}}
      {{> calendarDay}}      
    {{/each}}
  </tr>
</template>

<template name = 'calendarDay'>
  <td class='calendar-day'>
    <i class="{{frozen}}" data-day={{ID}}></i>
    <h3> 
      {{#if isInRole 'teacher'}}
        <a href="{{pathFor 'attendance'}}">{{day}}</a> 
      {{else}}
        {{day}}
      {{/if}}
    </h3>
     <div id={{ID}} class = 'daysActivities'>
       {{#each daysEvents}}
          {{> calendarEvent}}        
       {{/each}}
     </div>
  </td>
</template>

<template name = 'calendarEvent'>
  <p data-activityid={{activityID}} data-eventid = {{_id}} class={{classes}}>
    <a href="{{pathFor 'activityPage' _id=activityID}}" title={{groupies "" "" group "" ""}}>
      {{{reassessment}}}{{title}}
    </a>
    <i class='invitemore fa fa-users' onmouseover="$(this).addClass('fa-inverse')" onmouseout = "$(this).removeClass('fa-inverse')" title="invite additional participants"></i>
    <i class='remove fa fa-times' onmouseover="$(this).switchClass('fa-times','fa-times-circle',0)" onmouseout="$(this).switchClass('fa-times-circle','fa-times',0)" title="delete"></i>
  </p>
</template>


