<template name = 'standardsList'> 
   <div id='standards'>
    {{#each models}}
      {{> standardsSublist }}
    {{/each}}
    </div>
</template>


<template name='standardsSublist'>
      <h3> <a href="#" title="{{longname}}"> {{model}}</a> </h3> 
      <div class = 'Model'>
        {{#each standards}}
          {{> standardItem}}
        {{/each}}
      </div>
</template>


<template name = 'standardItem'>
    <div>
    <p data-standardid={{_id}} class="ui-state-default assessmentStand">
      {{#if LoM}} <span class = 'badge badge-inverse {{LoMcolorcode}}'>{{LoM}}</span> {{/if}}
      <a href="{{pathFor 'standardPage'}}" title="{{plaindescription}}">{{title}}</a> </p>
    </div>
</template>

