<template name = 'standardsList'> 
   <h5 id='standardsListTitle'>standards <span>(mastered/assessed/total)</span></h5>
   <div id='standards'>
    {{>standardsSublist _id='wholecourse' model='whole course' longname="Standards that aren't specific to a particular model."}}
    {{#each models}}
      {{> standardsSublist }}
    {{/each}}
    </div>
</template>


<template name='standardsSublist'>
      <h3> <a href="#" title="{{longname}}"> 
        {{model}}
        <span>{{standardsMastered}}</span>
      </a> </h3> 
      <div class = 'Model'>
        {{#each standards}}
          {{> standardItem}}
        {{/each}}
      </div>
</template>


<template name = 'standardItem'>
    <div>
    <p data-standardid={{_id}} class="ui-state-default assessmentStand">
      {{#if LoM}} <span class = 'badge badge-inverse {{LoMcolorcode ..}}'>{{LoMtext ..}}</span> {{/if}}
      <a href="{{pathFor 'standardPage'}}" title="{{plaindescription}}">{{title}}</a> </p>
    </div>
</template>

