<template name = 'standardsList'> 
    <div class="standardsListTitle">
      <h4 >standards</h4>
      <span class="progress-expected"> expected progress </span>
      <span class="progress-your"> your progress </span>
   </div>
   <ul id='categories' class="nav nav-pills">
      {{>categoryTitle _id='wholecourse' model='whole course' longname="Standards that aren't specific to a particular model."}}
      {{#each models}}
        {{> categoryTitle}}
      {{/each}}
    </ul>
   <div class='standards'>
      {{#with activeCategory}}
        {{> standardsSublist }}
      {{/with}}
    </div>
</template>

<template name="categoryTitle">
  <li class="{{active}}">
    <div class="progress progress-warning">
      <div class="bar" style="width: {{percentExpected}}%;"></div>
    </div>
    <div class="progress progress-info">
      <div class="bar" style="width: {{percentCompleted}}%;"></div>
    </div>
    <a href="#" title="{{longname}}">
      {{model}}
    </a>
  </li>
</template>


<template name='standardsSublist'>
      <div class = 'Model'>
        {{#each standards}}
          {{> standardItem}}
        {{/each}}
      </div>
</template>


<template name = 'standardItem'>
    <div>
    <p data-standardid={{_id}} class="ui-state-default assessmentStand">
      <!--{{#if LoM}} <span class = 'badge badge-inverse {{LoMcolorcode ..}}'>{{LoMtext ..}}</span> {{/if}} -->
      {{#if hasLoMnew ..}}<span class='badge badge-inverse {{LoMcolorcodeNew ..}}'>{{LoMtextNew ..}}</span>{{/if}}
      <a href="{{pathFor 'standardPage'}}" title="{{plaindescription}}">{{title}}</a> </p>
    </div>
</template>

