<template name = "studentView">
<!--
 <div id="counters" class="alert alert-info">{{{counters}}}</div>
 <div id="reminder" class="alert alert-error">{{{reminder}}}</div>
 -->
 <div class='container-fluid'>
 <div class="row"> <!-- class="modal-body row" to scroll -->
	 <div class='span7'>
	  {{> activitiesList}}
	</div>
	<div class='span5'>
	  {{> standardsList}}
	</div>
<!--	<div class='span4'>
	  {{> assessment}}
	</div>-->
</div> 
</div>

  {{> calendar}}
  {{> openInvites}}
  {{> inviteGroup}}


</template>


