<body>
  <div class = "container">
    <header class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">Open Lab</a>
      </div>
    </header>
  </div>

  <div id='ListOfLists'>
    <ul>
      <li><a href="#activities">ACTIVITIES</a></li>
      <li><a href="#standards">STANDARDS</a></li>
      <li><a href="#appointments">APPOINTMENTS</a></li>
  </ul> 
    <div id='activities'>
    <h3> <a href="#">CAPM </a> </h3>
      <div class = 'Model'>
        <p class="ui-state-default">Acceleration Intro </p>
        <p class="ui-state-default">Problem-solving with the Velocity Graph </p>
        <p class="ui-state-default">Olympic Event - Designer Ramp </p>
        <p class="ui-state-default">Position Graphs, Acceleration Graphs and Motion Maps </p>
        <p class="ui-state-default">Model Summary</p>
        <p class="ui-state-default">Olympic Event - Hole in One</p>
      </div>
    <h3> <a href="#">BFPM </a> </h3>
      <div class = 'Model'>
        <p class="ui-state-default">Broom Ball Review </p>
        <p class="ui-state-default">Force Diagrams for Stationary Objects </p>
        <p class="ui-state-default">Force Diagrams for Moving Objects </p>
        <p class="ui-state-default">Weight vs. Mass Lab </p>
        <p class="ui-state-default">Statics with Horizontal and Vertical Forces </p>
        <p class="ui-state-default">Statics with Forces at Angles </p>
        <p class="ui-state-default">Olympic Event - Stuffed Animals </p>
        <p class="ui-state-default">Dueling Forces </p>
        <p class="ui-state-default">Model Summary </p>
      </div>
    </div>
    <div id='standards'>
    <h3> <a href="#">CAPM </a> </h3>
      <div class = 'Model'>
        <p class="ui-state-default">Position Graphs</p>
        <p class="ui-state-default">Velocity Graphs </p>
        <p class="ui-state-default">Acceleration Graphs </p>
      </div>
    <h3> <a href="#">BFPM </a> </h3>
      <div class = 'Model'>
        <p class="ui-state-default">Newton's First Law </p>
        <p class="ui-state-default">Weight vs. Mass </p>
        <p class="ui-state-default">Vector Addition 2 (Force) </p>
      </div>
    </div>
    <div id='appointments'>
      <div class = 'Model'>
        <p class="ui-state-default">Help on assignment</p>
        <p class="ui-state-default">Evaluate progress and plan next week </p>
      </div>
    </div>
  </div>

  <div class='assessment'>
    <h3> Reassessment </h3>
     <div class = 'assessmentsStandards'>
     </div>
  </div>

  <table id='calendar'>
  <tr>
  <td class='calendar-day'>
    <h3> Monday, May 19 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>

  <td class='calendar-day'>
    <h3> Tuesday, May 20 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>

  <td class='calendar-day'>
    <h3> Wednesday, May 21 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>

  <td class='calendar-day'>
    <h3> Thursday, May 22 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>

  <td class='calendar-day'>
    <h3> Friday, May 23 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>
  </tr>

  <tr>
  <td class='calendar-day'>
    <h3> Monday, May 26 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>

  <td class='calendar-day'>
    <h3> Tuesday, May 27 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>

  <td class='calendar-day'>
    <h3> Wednesday, May 28 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>

  <td class='calendar-day'>
    <h3> Thursday, May 29 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>

  <td class='calendar-day'>
    <h3> Friday, May 30 </h3>
     <div class = 'daysActivities'>
     </div>
  </td>
  </tr>
  </table>




</body>


