<template name = 'accordionList'>
    {{> AccActivitiesList}}
    {{> standardsList}}
    {{> appointmentsList}}
</template>

<template name = 'AccActivitiesList'> 
   <div id='activities'>
      {{#each models}}
        {{> AccActivitiesSublist }}
      {{/each}}
    </div>
</template>


<template name='AccActivitiesSublist'>
      <h3 data-modelID={{_id}}> <a href="#" title="{{longname}}"> {{model}}</a></h3> 
      <div class = 'Model' data-modelID={{_id}}>
	      {{#each activities}}
          {{>AccActivityItem}}
        {{/each}}
      </div>
</template>


<template name = 'AccActivityItem'>
      <p data-activityid={{_id}} data-activityrank={{rank}} class="ui-state-default">
        <a href="#">{{title}}</a> 
      </p>
</template>
