<template name = 'accordionList'>
    <div class='span4'>
      {{> AccActivitiesList}}
    </div>
    <div class='span4'>
      {{> AccStandardsList}}
    </div>
    <div class='span4'>
      {{> assessment}}
    </div>
</template>

<template name = 'AccActivitiesList'> 
    <h5>activities</h5>
    <div id='activities'>
      {{#each models}}
        {{> AccActivitiesSublist }}
      {{/each}}
    </div>
</template>


<template name='AccActivitiesSublist'>
      <h3 title="{{longname}}"> <a href="#"  class="mName {{disabled}}"> {{model}}</a></h3> 
      <div class = 'Model'>
	    {{#each activities}}
          {{>AccActivityItem}}
        {{/each}}
        {{>AccActivityItem _id=-1 rank=NaN title=defaultText modelID=_id}}
      </div>
</template>


<template name = 'AccActivityItem'>
      <p class="ui-state-default">
        <a href="#" class="{{disabled}}">{{{reassessment}}}{{title}}</a> 
        <i class={{listVisible}}></i>
      </p>
</template>

<template name = 'AccStandardsList'> 
   <h5>standards</h5>
   <div id='standards'>
    {{>AccStandardsSublist _id='wholecourse' model='whole course' longname="Standards that aren't specific to a particular model."}}
    {{#each models}}
      {{> AccStandardsSublist }}
    {{/each}}
    </div>
</template>


<template name='AccStandardsSublist'>
      <h3 title="{{longname}}"> <a href="#" class="mName {{disabled}}"> {{model}}</a> </h3> 
      <div class = 'Model'>
        {{#each standards}}
          {{> AccStandardItem}}
        {{/each}}
        {{>AccStandardItem _id=-1 rank=NaN title=defaultText modelID=_id}}
      </div>
</template>


<template name = 'AccStandardItem'>
      <p class="ui-state-default">
        <a href="#" title="{{longname}}" class="{{disabled}}">{{title}}</a> 
        <i class={{listVisible}}></i>
      </p>
</template>
