<template name = 'collapseList'>
    {{> ColActivitiesList}}
    {{> ColStandardsList}}
    {{> appointmentsList}}
</template>

<template name = 'ColActivitiesList'> 
   <div id='activities'>
      {{#each models}}
        {{> ColActivitiesSublist }}
      {{/each}}
      {{>ColActivitiesSublist _id=-1 rank=NaN model=defaultText longname=''}}
    </div>
</template>

<template name='ColActivitiesSublist'>
  <h3 title="{{longname}}" class='ui-state-default ui-accordion-header collapsed'>
    <i class='fa fa-caret-right'></i><a href=# class="mName {{disabled}}">{{model}}</a>
    <i class={{listVisible}}></i> 
    <br/><a href="#" class="lName {{disabled}}">{{longname}}</a>
  </h3> 
</template>

<template name = 'ColStandardsList'> 
   <div id='standards'>
      {{#each models}}
        {{> ColActivitiesSublist }}
      {{/each}}
      {{>ColActivitiesSublist _id=-1 rank=NaN model=defaultText longname=''}}
    </div>
</template>