<template name = 'collapseList'>
    {{> ColActivitiesList}}
    {{> ColStandardsList}}
    {{> appointmentsList}}
</template>

<template name = 'ColActivitiesList'> 
   <div id='activities'>
      {{#each models}}
        {{> ColActivitiesSublist }}
      {{/each}}
      {{>ColActivitiesSublist _id=-1 rank=-1 model=defaultText title=''}}
    </div>
</template>

<template name='ColActivitiesSublist'>
  <h3 data-modelID={{_id}} data-modelRank={{rank}} title="{{longname}}" class='ui-state-default ui-accordion-header collapsed'>
    <i class='fa fa-caret-right'></i><a data-modelID={{_id}} href=#>{{model}}</a>
  </h3> 
</template>

<template name = 'ColStandardsList'> 
   <div id='standards'>
      {{#each models}}
        {{> ColActivitiesSublist }}
      {{/each}}
    </div>
</template>

<template name='ColStandardsSublist'>
  <h3 data-modelID={{_id}} data-modelRank={{rank}} title="{{longname}}" class='ui-state-default ui-accordion-header collapsed'>
    <i class='fa fa-caret-right'></i><a data-modelID={{_id}} href=#>{{model}}</a>
  </h3> 
</template>