<template name = 'expandList'>
    {{> ExpActivitiesList}}
    {{> standardsList}}
    {{> appointmentsList}}
</template>

<template name = 'ExpActivitiesList'> 
   <div id='activities'>
      {{#each models}}
        {{> ExpActivitiesSublist }}
      {{/each}}
    </div>
</template>


<template name='ExpActivitiesSublist'>
      <h3> <a href="#" title="{{longname}}"> {{model}}</a></h3> 
      <div class = 'Model'>
	      {{#each activities}}
          {{>ExpActivityItem}}
        {{/each}}
        {{>ExpActivityItem _id=-1 rank=NaN title=defaultText modelID=_id}}
      </div>
</template>


<template name = 'ExpActivityItem'>
      <p class="ui-state-default">
        <a href="#" class="{{disabled}}">{{title}}</a> 
      </p>
</template>