<template name = 'expandList'>
    <div class='span4'>
      {{> ExpActivitiesList}}
    </div>
    <div class='span4'>
      {{> standardsList}}
    </div>
    <div class='span4'>
      {{> assessment}}
    </div>
</template>

<template name = 'ExpActivitiesList'> 
   <h5>activities</h5>
   <div id='activities'>
      {{#each models}}
        {{> ExpActivitiesSublist }}
      {{/each}}
    </div>
</template>


<template name='ExpActivitiesSublist'>
      <h3> <a href="#" title="{{longname}}" class="{{disabled}}"> {{model}}</a></h3> 
      <div class = 'Model'>
	      {{#each activities}}
          {{>ExpActivityItem}}
        {{/each}}
        {{>ExpActivityItem _id=-1 rank=NaN title=defaultText modelID=_id}}
      </div>
</template>


<template name = 'ExpActivityItem'>
      <p class="ui-state-default">
        <a href="#" class="{{disabled}}">{{{reassessment}}}{{title}}</a> 
        <i class={{listVisible}}></i>
      </p>
</template>